<section class="answer">
    <div class="container">
        <div class="answer-results">
            <div id="answer-title">Результат прохождения теста <img src="/images/arrow2.png" alt="Arrow"></div>
            <div id="answer-pre-title">Название теста</div>
        </div>
        <div class="answer-correct">Правильные ответы <span>к тесту</span></div>
        <div class="answer-user-name"></div>

        <div class="correct-answers">

            <div class="correct-answer" id="correct-answer">

            </div>
        </div>
        <div class="back">
            <button class="back-to-result" id="back">
                <a href="javascript:void(0)" class="to-result">Обратно к моему результату теста <img src="/images/next.png" alt="Arrow next"></a>

            </button>
        </div>

    </div>
</section>
